@font-face {
    font-family: yekan;
    src: url(../../../font/Yekan.ttf);
}
body{
    margin: 0;
    padding: 0;
    
}
div{
    background-color: #f1ebfd;
    height: 850px;
    width: 100%;
    border-radius: 0px 0px 20% 20%;
}
.contaner{
    position: relative;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: row-reverse;
}
.image1{
    height: 400px;
    width: 400px;
    background-color: #f1ebfd;
    margin-top: 130px;
    margin-left: 12%;
   
}
.h{
    margin-top: 200px;
    height: 100px;
    width: 500px;
    
    margin-right:10%;
    direction: rtl;
   padding: 10px;
   position: relative;
}

h1{
    color: #47208e;
    font-size: 40px;
    font-family: yekan;
    
}
p{
font-size: 20px;

font-family: yekan;
line-height: 30px;
}
h2{
    font-family: yekan;
    position: absolute;
    color: #47208e;
  top: 80%;
  left: 45%;
}
.khadamat{

    background-color: aqua;
    height: 500px;
    width: 1150px;
}