@font-face {
  font-family: yekan;
  src: url(../../font/Yekan.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: yekan;
}
.bb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  height: 777px;
  width: 100%;
  background-color: #f1ebfd;
  z-index: -10000;
  border-radius: 0 0 200px 200px;
}
h1 {
  color: #47208e;
}
.tagehp {
  font-size: 18px;
  color: black;
}
.matn {
  margin-top: 13%;
  height: 300px;
  width: 500px;
}
.pic img {
  margin-top: 35%;
  height: 450px;
  width: 320px;
}
.khadamat {
  height: 150px;
  width: 85%;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.khadamat img {
  margin-top: 20%;
}
h4 {
  color: black;
  margin-top: 10%;
}

.seo {
  height: 250px;
  width: 220px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.515);
}
.mohtava {
  margin-top: 3%;
  height: 250px;
  width: 220px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.515);
}
.uiux {
  margin-top: 3%;
  height: 250px;
  width: 220px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.515);
}
.desing {
  height: 250px;
  width: 220px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.515);
}
h5 {
  font-size: 17px;
  font-weight: 900;
  margin-top: 15%;
}
h6 {
  margin-top: 15%;
  text-align: center;
  font-size: 40px;
  color: #47208e;
}
.titr h6 {
  margin-top: 5%;
  text-align: center;
  font-size: 40px;
  color: #47208e;
}
/* marahel */ /* ---------------------------------------------------------------- */
.marahel {
  height: 300px;
  width: 85%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
margin-right: 7%;
}
.div11 {
  margin-top: 5%;
  height: 400px;
  width: 350px;
  border-radius: 50% 50% 0 0;

  background: rgb(208,253,255);
  background: linear-gradient(180deg, rgba(208,253,255,1) 0%, rgba(255,255,255,1) 100%);
  
}
.div22 {
  margin-top: 5%;
  height: 400px;
  width: 350px;

  border-radius: 50% 50% 0 0;

  background: rgb(254,238,205);
  background: linear-gradient(180deg, rgba(254,238,205,1) 0%, rgba(255,255,255,1) 100%);
  

}
.div33 {
  margin-top: 5%;
  height: 400px;
  width: 350px;
  border-radius: 50% 50% 0 0;
  
  
  background: rgb(220,245,210);
background: linear-gradient(180deg, rgba(220,245,210,1) 0%, rgba(220,245,210,1) 1%, rgba(255,255,255,1) 100%);

}

.div11 img {
  margin-top: 10%;
}
.div22 img {
  margin-top: 10%;
}
.div33 img {
  margin-top: 10%;
}
strong{
  font-family: yekan;
  font-size: 20px;

}
h4{
  font-family: yekan;
  font-size: 25px;
  padding-bottom: 10%;
}
/* artin */
.baner {
  height: 680px;
  width: 100%;
  background-color: #7636ed;
  position: relative;
  z-index: -1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}
.text {
  z-index: -1000;
  height: 200px;
  width: 30%;
  margin-top: 15%;
  margin-right: 15%;
  font-size: 18px;
}
p {
  color: white;
}
h2 {
  color: white;
}
.aks img {
  height: 450px;
  width: 450px;
}
.aks {
  margin-top: 10%;
  margin-left: 15%;
}
@media (max-width: 1150px) {
  .aks img {
    height: 400px;
    width: 400px;
    margin-top: 15%;
    margin-right: 20%;
  }
  .text {
    width: 30%;
    height: 250px;
  }
  h6 {
    margin-top: 40%;
  }
}
@media (max-width: 1010px) {
  .aks img {
    height: 300px;
    width: 300px;
    margin-top: 45%;
    margin-right: 20%;
  }

  .baner {
    height: 980px;
    margin-top: 10%;
  }
  .bb {
    height: 1300px;
  }
  .matn {
    margin-top: 30%;
    padding: 30px;
  }
  .desing {
    margin-top: 10px;
    width: 80%;
  }
  .mohtava {
    width: 80%;
  }
  .uiux {
    width: 80%;
  }
  .seo {
    width: 80%;
  }
  .bb {
    border-radius: 0 0 50px 50px;
  }
  .khadamat img {
    margin-top: 10%;
  }
  h5 {
    margin-top: 8%;
  }
  .khadamat {
    margin-top: 20%;
  }
  h6 {
    margin-top: 100%;
  }
}
@media (max-width: 750px) {
  .text {
    width: 70%;
    margin-top: 30%;
  }

  .baner {
    height: 980px;
    margin-top: 10%;
  }
  .bb {
    height: 1300px;
  }
  .matn {
    margin-top: 30%;
    padding: 30px;
  }
  .desing {
    margin-top: 10px;
    width: 80%;
  }
  .mohtava {
    width: 80%;
  }
  .uiux {
    width: 80%;
  }
  .seo {
    width: 80%;
  }
  .bb {
    border-radius: 0 0 50px 50px;
  }
  .khadamat img {
    margin-top: 10%;
  }
  h5 {
    margin-top: 8%;
  }
  .khadamat {
    margin-top: 20%;
  }

  h6 {
    margin-top: 230%;
  }
.div11{
  margin-top: 15%;
}
.div22{
  margin-top: 15%;
}.div33{
  margin-top: 15%;
}





}
