*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: yekan;
}
@font-face {
    font-family: yekan;
    src: url(../../font/Yekan.ttf);
}

header{
    height: 100px;
    width: 100%;
    background-color: #f1ebfd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
}
nav{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
   
}
ul li{
    list-style-type: none;
}
ul li a{
    font-size: 17px;
    font-weight: 900;
}
ul li a:hover{
    cursor: pointer;
}
ul{
    position: absolute;
   width: 30%;
    display: flex;
  justify-content: space-evenly;
  margin-right: 35%;
  
    
}

.logo{
    height: 70px;
    width: 100px;
    
}
.call{
    margin-right: 60%;
}
@media (max-width:1020px) {
    ul{
        display: none;
    }
    .logo{
        height: 60px;
    }
    .call{
        margin-right: 20%;
    }
}
@media (min-width:1020px) {
    .logo{
        margin-right: 10%;
    }
  



}